.cabecalho{
    background-color: rgb(87, 198, 194);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: space-around;
    text-align: left;
    color: azure;
}
.ima{

    position: absolute;
    top: 0;
    right: 0;
    width: 155px;
    height: auto;
}
.cabecalho-lista{
    display: inline-block;
}