*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgb(87, 198, 194);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    color: azure;
    padding: 24px 0;
}
.ima{

    position: absolute;
    top: W0;
    right: 0;
    width:120px;
    height: auto;
}
.cabecalho-lista{
    display: inline-block;
}
li{
    display: inline-block;
    margin: 0 16px;
}
.professor{

 display: grid;
 grid-template-columns: 20% 20% 20% 20% 20% 20%;
}

.rodape{
    background: linear-gradient(to right, #8e20a9, #ff6600, #0000ff);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    color: azure;
    padding: 24px 0;
}
.imarodape{
    width: 20px;
    right: 0;
}