.cabecalho{
    background-color: rgb(87, 198, 194);
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: azure;
}
#icone{
    width: auto;
    padding-right: 0%;
}